<div class="container">
  <app-slide-indicator [timing]="timing" [elements]="elements"></app-slide-indicator>
  <div class="actions">

    <div class="row">
      <label>elements:</label>
      <input type="number" [(ngModel)]="elements">
      <button mat-mini-fab color="primary" (click)="elements = elements + 1">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="elements = elements - 1">
        <mat-icon>remove</mat-icon>
      </button>
    </div>

    <div class="row">
      <label>timing:</label>
      <input type="number" [(ngModel)]="timing">
      <button mat-mini-fab color="primary" (click)="timing = timing + 100">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="timing = timing - 100">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </div>
</div>