.container {
    padding: 1rem;
}

.actions {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

label, input {
    width: 5rem;
}

button {
    margin-left: 1rem;
}